<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/form.css">
    <title>New Message Form</title>
</head>
<body>
    <%- include("partials/errors.ejs") %>
    <form method="POST" action="/new/<%= msgid %>">
        <h1><% if (text) { %> Message <% } else { %> Add New Message <% } %></h1>
        <label for="textmsg">
            Message:
            <% if (text) { %>
                <textarea required name="textmsg" id="textmsg" rows="2"><%= text %></textarea>
            <% } else { %>
                <textarea required name="textmsg" id="textmsg" rows="2"></textarea>
            <% } %>
            
        </label>
        <label for="author">
            Author:
            <% if (user) { %>
                <input required type="text" name="author" id="author" value="<%= user %>">
            <% } else { %>
                <input required type="text" name="author" id="author">
            <% } %>  
        </label>
            
        <% if (added) { %>
            <label for="timestamp">
            Timestamp:
                <input type="datetime-local" name="timestamp" id="timestamp" value="<%= new Date(added).toISOString().replace(/[:]\d\d\..+Z$/,"") %>">
            </label>
        <% } %>  
        <input type="submit" value="Submit">
    </form>
</body>
</html>